<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="max_yaw"  value="15"/>
    <add key="max_pitch"  value="15"/>
    <add key="max_roll" value="15"/>
    <add key="min_pixel" value="12000"/>
    <add key="multi_face" value="true"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
