<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="max_yaw"  value="15"/>
    <add key="max_pitch"  value="15"/>
    <add key="max_roll" value="15"/>
    <add key="min_pixel" value="12000"/>
    <add key="multi_face" value="true"/>
    <!--是否自动上传-->
    <add key="Is_AutoUpload" value="False"/>
    <!--自动上传间隔（S）-->
    <add key="Upload_Interval" value="5"/>
    <!--平台比赛名称-->
    <add key="ServerGameName" value="2019票务测试专用活动"/>
    <!--售票数据库-->
    <add key="ticketConnectionString" value="Server=120.55.37.92;Database=himall26;Uid=himall26;Pwd=himall26pwd;Charset=utf8;"/>
    <!--中心数据库-->
    <add key="centerConnectionString" value="Server=120.55.37.92;Database=faicea;Uid=himall26;Pwd=himall26pwd;Charset=utf8;"/>
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>
